.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  left: 43%;
}

.wrapper {
  background-color: #09143c;
  width: 660px;
  position: absolute;
  left: 23%;
  border-radius: 25px 25px 25px 25px;
}
.AddButton {
  background-color: #04bade;
}
.logo {
  width: 85px;
  height: 80px;
  background-color: #09143c;
}
figure {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}
h3 {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
}
.addItem {
  display: flex;
  justify-content: center;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 49px;
  padding-top: 20px;
  background-color: #09143c;
  border-radius: 25px 25px 25px 25px;
}
#additem {
  padding: 10px;
  margin-bottom: 13px;
}
label {
  background-color: #04bade;
}
.plus {
  border: 2px solid black;
  border-radius: 26%;
  padding: 11px;
}
input {
  width: 470px;
  float: left;
}
.inputWithIcon {
  position: relative;
}
.inputWithIcon input[type="text"] {
  padding-right: 30px; /* Adjust the padding to make space for the icon */
}
.inputWithIcon label {
  position: absolute;
  top: 35%; /* Adjust vertical positioning as needed */
  left: 484px; /* Adjust horizontal positioning as needed */
  transform: translateY(-50%);
  cursor: pointer;
}
.showItem {
  display: flex;
  flex-direction: column;
  background-color: #09143c;
  color: white;
  width: 650px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px 25px 25px 25px;
}
.items {
  display: flex;
  flex-direction: row;
}
.deleteButtons,.editButtons{
  height: 32px;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #09143c;
  color: #faf5e9;
  border: none;
}
.editButtons{
  margin-right:20px;
}
.description {
  margin-left: 40px;
  padding-bottom: 5px;
  font-size: 14px;
}
ul {
  margin-bottom: 0px;
}
.eachActivity {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  background-color: #04bade;
  width: 470px;
  position: relative;
  left: 110px;
  padding-top: 7px;
}
h3 {
  margin-right: auto;
}
.todos {
  display: flex;
  flex-direction: column;
  background-color: #09143c;
  margin-bottom: 15px;
}